<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Construction Guarantee</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/style.css?version=1" rel="stylesheet" />
  </head>

  <body>
    <div class="container mt-5 p-4 shadow-lg bg-white rounded">
      <h1>{{ message }}</h1>
      <div class="input-group mb-3">
        <input type="text" id="term-input" class="form-control" placeholder="검색어를 입력하세요" />
        <button id="search-btn" class="btn btn-primary">조회</button>
      </div>
      <div id="result-container"></div>
    </div>
  </body>
</html>
<!-- Bootstrap JS 및 종속성 -->
<script src="/static/js/jquery-3.5.1.slim.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $("#search-btn").on("click", function () {
      debugger;
      const term = $("#term-input").val();

      $.ajax({
        url: "/completion/api/terms",
        type: "GET",
        contentType: "application/json",
        data: JSON.stringify({ term: term }),
        success: function (data) {
          $("#result-container").empty();

          data.forEach((item, index) => {
            const title = `<h5>${index + 1}. ${item.title}</h5>`;
            const items = item.items
              .map(
                (val) => `
                                <div class="d-flex align-items-center mb-2">
                                    <span>● ${val}</span>
                                    <button class="btn btn-sm btn-outline-secondary ms-2 copy-btn" data-value="${val}">복사</button>
                                </div>
                            `
              )
              .join("");

            $("#result-container").append(title + items);
          });

          $(".copy-btn").on("click", function () {
            const text = $(this).data("value");
            navigator.clipboard.writeText(text);
            alert(`${text} 복사 완료!`);
          });
        },
      });
    });
  });
</script>
