ENVIRONMENT=production
DEBUG=False

# API_KEY
OPENAI_API_KEY=sk-
ANTHROPIC_API_KEY=sk-

# setting DATABASE
DATABASE_URL="postgresql+asyncpg://postgres:postgres@myIP:5432/axlrserver" # serving
ALEMBIC_DATABASE_URL="postgresql://postgres:postgres@myIP:5432/axlrserver" # alembic

# setting EMBEDDING_MODEL
EMBEDDING_MODEL_NAME="text-embedding-3-large" 

# setting LLM_MODEL
LLM_MODEL_NAME="claude-3-sonnet-20240229"

RERANK_MODEL_NAME="BAAI/bge-reranker-v2-m3"

# OLLAMA URL
OLLAMA_URL=http://host.docker.internal:11434

# LANGCHAIN
LANGCHAIN_API_KEY=lsv2_
LANGCHAIN_TRACING_V2=false

# LANGFUSE
LANGFUSE_SECRET_KEY="sk-"
LANGFUSE_PUBLIC_KEY="pk-"
LANGFUSE_HOST="http://rag_server-langfuse-server-1:3000"

# Elasticsearch
ELASTICSEARCH_HOST="http://elasticsearch:9200"

MILVUS_URI="http://localhost:19530"

# UPSTAGE_API_KEY="up_"
# VOYAGE_API_KEY=pa-
# COHERE_API_KEY=dS
