<!DOCTYPE html>
<html data-bs-theme="light">
  {% include 'view/common/common.html' %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}화면{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      $(document).ready(function () {
        //로그아웃 버튼 클릭
        $("#btnLogout").click(function () {
          common.postRequest("/user/api/logout", null, function (data) {
            window.location.href = "/view/login";
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="container-fluid wrap">
      <header class="header row justify-content-between align-items-center">
        <div class="col left">
          <h1 class="logo">건설공제 RAG</h1>
        </div>
        <div class="col-auto right">
          <button class="btn btn-sm btn-outline-light" id="btnLogout">로그아웃</button>
        </div>
      </header>
      <div class="row container-body">
        {% include 'view/common/sidebar.html' %}

        <!--  contents -->

        <div class="col-10 content">
          {% block content %}
          <!-- 개별 페이지의 콘텐츠가 여기에 삽입됩니다. -->
          {% endblock %}
          <!--end of contents -->
        </div>
      </div>
    </div>
  </body>
</html>
