<!--  nav -->
<div class="col-2 side p-3">
  <div class="user-info">
    <span class="user-name"><i class="bi bi-person-fill"></i> {{ user_info.user_id }}</span>
  </div>
  <hr />
  <ul class="nav nav-fills flex-column">
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/view/code/conversion' %}active{% endif %}" href="/view/code/conversion"
        >용어변환</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/view/code/completion' %}active{% endif %}" href="/view/code/completion"
        >프로그램 코드생성</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/view/code/text2sql' %}active{% endif %}" href="/view/code/text2sql"
        >SQL생성</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/view/code/chat' %}active{% endif %}" href="/view/code/chat"
        >RAG 생성</a
      >
    </li>
  </ul>
</div>
