<!--  nav -->
<div class="col-2 side p-3">
  <div class="user-info">
    <span class="user-name"><i class="bi bi-person-fill"></i> {{ user_info.user_id }}</span>
  </div>
  <hr />
  <ul class="nav nav-fills flex-column">
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/view/code/conversion' %}active{% endif %}" href="/view/code/conversion"
        >📂용어변환</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/view/code/completion' %}active{% endif %}" href="/view/code/completion"
        >📂프로그램 코드생성</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/view/code/text2sql' %}active{% endif %}" href="/view/code/text2sql"
        >📂SQL생성</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/view/code/chat' %}active{% endif %}" href="/view/code/chat"
        >📂Code 채팅</a
      >
    </li>
    {% if user_info.user_id == "admin" %}
    <li class="nav-item">
      <a
        class="nav-link {% if request.path == '/view/admin/vector-index-list' %}active{% endif %}"
        href="/view/admin/vector-index-list"
        >🔍VectorDB Index 조회</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link {% if request.path == '/view/admin/vector-data-list' %}active{% endif %}"
        href="/view/admin/vector-data-list"
        >🔍VectorDB 조회</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link {% if request.path == '/view/admin/org-resrc-list' %}active{% endif %}"
        href="/view/admin/org-resrc-list"
        >🔍원본 리소스 조회</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link {% if request.path == '/view/admin/org-resrc-chunk-list' %}active{% endif %}"
        href="/view/admin/org-resrc-chunk-list"
        >🔍원본 리소스청크 조회</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link {% if request.path == '/view/workflow/task-target-list' %}active{% endif %}"
        href="/view/workflow/task-target-list"
        >🔍작업 대상 조회 - 벌크배치작업</a
      >
    </li>

    {% endif %}
  </ul>
</div>
