<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../icons/font/bootstrap-icons.css" rel="stylesheet" />
<link href="../css/common.css" rel="stylesheet" />
<script src="../js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<button type="button" class="btn btn-primary" id="myInput" data-bs-toggle="modal" data-bs-target="#exampleModal">
	  Launch demo modal
	</button>
		
	
	<div class="modal modal-lg " tabindex="-1" id="exampleModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">인덱스 상세 팝업</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <div class="form-wrap">
				<div class="">
					<label class="form-label">인덱스명</label>
					<input type="text" class="form-control" />
				</div>
				<div class="mt-3">
					<label class="form-label">인덱스 설명</label>
					<input type="text" class="form-control" />
				</div>
				<div class="mt-3">
					<label class="form-label">인덱스 파일 경로</label>
					<input type="text" class="form-control" />
				</div>
				<div class="mt-3">
					<label class="form-label">Created At</label>
					<input type="date" class="form-control" />
				</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary">등록</button>
	        <button type="button" class="btn btn-primary">수정</button>
	        <button type="button" class="btn btn-primary">삭제</button>
	      </div>
	    </div>
	  </div>
	</div>		
	
	
	<div class="grid">
		<div class="g-col-2 text-bg-primary">1</div>
		<div class="g-col-8 text-bg-secondary">1</div>
	</div>
		
		
<div class="grid text-center">
  <div class="g-col-4">.g-col-4</div>
  <div class="g-col-4">.g-col-4</div>
  <div class="g-col-4">.g-col-4</div>
</div>
	
	
	

	
	

<script>


</script>
</body>
</html>