<!DOCTYPE html>
<html data-bs-theme="light">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../icons/font/bootstrap-icons.css" rel="stylesheet" />
<link href="../css/common.css" rel="stylesheet" />
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/color-modes.js"></script>
<script>

function load() {
	const modal = new bootstrap.Modal(document.getElementById('modalPopup'));
	modal.show();
}

</script>
</head>
<body onload="load()">

	<div class="modal fade modal-lg" tabindex="-1" id="modalPopup">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">작업 대상 추가/삭제</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <div class="form-wrap">
				<div class="">
					<label class="form-label">대상인덱스</label>
					<select class="form-select">
					  <option>example_index</option>
					</select>
				</div>
				<div class="mt-3">
					<label class="form-label">타겟경로</label>
					<input type="text" class="form-control" />
				</div>
				<div class="mt-3">
					<label class="form-label">처리유형</label>
					<select class="form-select">
					  <option>Insert</option>
					</select>
				</div>
				<div class="mt-3">
					<label class="form-label">처리여부</label>
					<select class="form-select">
					  <option>Insert</option>
					</select>
				</div>
				<div class="mt-3">
					<label class="form-label">처리결과</label>
					<input type="text" class="form-control" disabled />
				</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        	<button type="button" class="btn btn-primary">수정</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	      </div>
	    </div>
	  </div>
	</div>	




		

	
	

</body>
</html>