<!DOCTYPE html>
<html data-bs-theme="light">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../icons/font/bootstrap-icons.css" rel="stylesheet" />
<link href="../css/common.css" rel="stylesheet" />
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/color-modes.js"></script>
</head>
<body>
	<div class="contents-wrap">
		<div class="tit-wrap">
			<h2 class="tit01">SQL 생성</h2>
		</div>
		
		<div class="row">
			<div class="col-8">
				<div class="form-wrap">
					<div class="row">
						<div class="col-12">
							<label for="#" class="form-label">사용된 테이블 및 참고 SQL</label>
							<textarea class="form-control" rows="5"></textarea>
						</div>
						<div class="col-12 mt-3">
							<span class="form-label d-inline-block">답변결과</span>
							<div>답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과답변결과</div>
						</div>
						<div class="col-12 mt-3">
							<label for="#" class="form-label">질문 입력</label>
							<textarea class="form-control" rows="5"></textarea>
							<div class="mt-2 text-end">
								<button type="button" class="btn btn-primary">입력</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<ul class="list-group">
				  <li class="list-group-item">이력1</li>
				  <li class="list-group-item">이력2</li>
				  <li class="list-group-item">이력3</li>
				  <li class="list-group-item">이력3</li>
				  <li class="list-group-item">이력3</li>
				</ul>
			</div>
		</div>
		
		
	</div>

	
	
	

	
	

</body>
</html>