<!DOCTYPE html>
<html data-bs-theme="light">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../icons/font/bootstrap-icons.css" rel="stylesheet" />
<link href="../css/common.css" rel="stylesheet" />
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/color-modes.js"></script>
</head>
<body>
	<div class="contents-wrap">
		<div class="tit-wrap">
			<h2 class="tit01">원본 리소스 조회</h2>
		</div>
		
		<div class="search-wrap mt-2">
			<div class="row">
				<div class="col-auto">
					<label for="#" class="form-label">리소스명</label>
					<input type="text" class="form-control" style="width:400px;" />
				</div>
				
				<div class="col align-self-end">
					<button type="button" class="btn btn-primary">조회</button>
				</div>
			</div>
		</div>
		
		
		<table class="table table-bordered table-sm mt-4">
			<thead class="table-secondary">
				<tr class="text-center">
					<th style="width:70px;">선택</th>
					<th>리소스명</th>
					<th>리소스타입</th>
					<th>리소스경로</th>
					<th>처리여부</th>
					<th>생성일</th>
				</tr>
			</thead>
			<tbody>
				<tr class="align-middle">
					<td class="text-center">
						<div class="check-wrap">
							<input type="checkbox" class="form-check-input" />
						</div>
					</td>
					<td>리소스명</td>
					<td>리소스타입</td>
					<td>리소스경로</td>
					<td>처리여부</td>
					<td class="text-center">2024-01-01</td>
				</tr>
				<tr class="align-middle">
					<td class="text-center">
						<div class="check-wrap">
							<input type="checkbox" class="form-check-input" />
						</div>
					</td>
					<td>리소스명</td>
					<td>리소스타입</td>
					<td>리소스경로</td>
					<td>처리여부</td>
					<td class="text-center">2024-01-01</td>
				</tr>
				<tr class="align-middle">
					<td class="text-center">
						<div class="check-wrap">
							<input type="checkbox" class="form-check-input" />
						</div>
					</td>
					<td>리소스명</td>
					<td>리소스타입</td>
					<td>리소스경로</td>
					<td>처리여부</td>
					<td class="text-center">2024-01-01</td>
				</tr>
			</tbody>
			</table>
			
			<div class="row mt-2 btn-wrap">
				<div class="d-flex justify-content-end gap-2">
					<button type="button" class="btn btn-primary">처리</button>
					<button type="button" class="btn btn-secondary">삭제</button>
					<button type="button" class="btn btn-primary">등록</button>
				</div>
			</div>
		</div>
		
		
		

	
	
	

	
	

</body>
</html>