<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}관리자 화면{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Feather Icons 스크립트 추가 -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- 사이드바 포함 -->
            {% include 'common/sidebar.html' %}

            <!-- 메인 콘텐츠 영역 -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}
                <!-- 개별 페이지의 콘텐츠가 여기에 삽입됩니다. -->
                {% endblock %}
            </main>
        </div>
    </div>

    <!-- Bootstrap JS 및 의존성 파일 -->
    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>