<!DOCTYPE html>
<html data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>로그인</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}화면{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'view/common/common.html' %}
  </head>
  <body>
    {% include 'view/code/chatbody.html' %} {% block content %} {% endblock %}
  </body>
</html>
