<!DOCTYPE html>
<html data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AXL CHAT</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}화면{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'view/common/common.html' %}
  </head>
  <style>
    code {
      position: relative;
    }
    .delete-btn {
      position: absolute;
      top: 50%;
      right: 10px; /* 우측에 위치 */
      transform: translateY(-50%); /* 수직 중앙 정렬 */
      cursor: pointer;
      display: none;
      color: #dc3545; /* 빨간색 아이콘 */
    }
  </style>
  <script>
    let postStreamRequest;

    $(document).ready(function () {
      //Enter 키 입력시 질문 전송
      $("#iptQuestion").keydown(function (event) {
        if (event.key === "Enter" && !event.shiftKey) {
          event.preventDefault();
          $("#btnInput").click();
        }
      });

      $("#btnStop").on("click", function () {
        //스트리밍 정지버튼 클릭
        postStreamRequest.abort();
        return;
      });
    });

    function callApi(type, data) {
      $("#iptQuestion").val(data.prompt);
      $("#iptContext").val(data.code);
      $("#iptConsole").val("");

      let api = null;
      let name = null;

      let param = {
        indexname: "",
        category: "",
        question: "",
        context: "",
        sql_request: "",
        current_code: "",
      };

      if (type == "1") {
        // 1. 코드예측생성:
        api = "/codeassist/api/autocode";
        name = "[다음코드예측생성]";

        param.question = data.code;
      } else if (type == "2") {
        api = "/codeassist/api/code";
        name = "[코드생성]";

        (param.category = null),
          (param.context = ""),
          (param.current_code = data.code ?? ""),
          (param.question = data.prompt);
      } else if (type == "3") {
        api = "/codeassist/api/autocode";
        name = "[MapdataUtil생성]";
        param.question = data.prompt;
      } else if (type == "4") {
        api = "/codeassist/api/makecomment";
        param.question = data.code;
        name = "[주석생성]";
      } else if (type == "5") {
        api = "/codeassist/api/makesql";
        param.question = data.prompt;
        param.sql_request = data.code;
        name = "[SQL생성]";
      }

      console.log("param=" + param);

      $("#name").text(name);
      $("#iptAnswer").text("■");

      postStreamRequest = common.postStreamRequest(
        api,
        param,
        function (e) {
          const chunk = e.currentTarget.response;
          // 마크다운 데이터를 HTML로 변환
          $("#iptAnswer").html(marked.parse(chunk + "■"));
        },
        function (data) {
          console.log("success");
          const lastIndex = $("#iptAnswer").html().lastIndexOf("■");

          $("#iptAnswer").html(
            $("#iptAnswer").html().slice(0, lastIndex) + $("#iptAnswer").html().slice(lastIndex).replace("■", "")
          );
        },
        function (data) {
          console.log("error");
          console.log(e);
        },
        function (data) {
          console.log("complete");

          //highlight적용
          $(".markdown-body pre code").each(function (i, block) {
            hljs.highlightElement(block);
            $(this).append(
              '<button class="btn codecopy" onclick="copyCodeToClipboard(event)"><i class="bi bi-copy"></i></button>'
            );

            $(this).append(
              '<button class="btn codeplugin" onclick="copyCodeToPlugin(event)"><i class="bi bi-box-arrow-up"></i></button>'
            );
          });
          $("#btnInput").prop("disabled", false);
          $("#iptQuestion").attr("disabled", false);
        }
      );
    }

    //플러그인으로 복사
    const copyCodeToPlugin = function (e) {
      const target = $(e.currentTarget);
      const text = target.parents("code").text();

      pasteIntoEditor ? pasteIntoEditor(text) : window.pasteIntoEditor(text);
    };

    const copyCodeToClipboard = function (e) {
      const target = $(e.currentTarget);
      const text = target.parents("code").text();

      common.copyTextToClipboard(
        text,
        function () {
          //success
          let icon = target.find("i"); // 버튼 내부 아이콘 찾기
          if (icon.hasClass("bi-copy")) {
            icon.removeClass("bi-copy").addClass("bi-check"); // 아이콘 변경
          }
          console.log("Copying to clipboard was successful!");
        },
        function (err) {
          //fail
          console.error("Could not copy text: ", err);
        }
      );
    };

    const autoCompletionFromPlugin = function (data) {
      callApi("1", data);
    };

    const completionByRequestFromPlugin = function (data) {
      callApi("2", data);
    };

    const makeSqlFromPlugin = function (data) {
      callApi("5", data);
    };
    const makeMapdataUtilFromPlugin = function (data) {
      callApi("3", data);
    };

    const makeCommentFromPlugin = function (data) {
      callApi("4", data);
    };
  </script>

  <div class="contents-wrap">
    <!-- <div class="tit-wrap">
      <h2 class="tit01">프로그램 코드 생성</h2>
    </div> -->
    <div class="row">
      <div>
        <div class="form-wrap">
          <div class="row">
            <div class="col-12 mt-3">
              <span class="form-label d-inline-block">답변결과</span>
              <span class="form-label d-inline-block" style="color: red" id="name"></span>

              <div style="position: relative">
                <div id="iptAnswer" class="markdown-body" style="position: relative"></div>
                <button class="btn" id="btnStop" style="position: absolute; bottom: 0; right: 0">
                  <i class="bi bi-stop-circle"></i>
                </button>
              </div>
            </div>

            <div class="col-12 mt-3" style="display: none">
              <label for="#" class="form-label">질문 입력</label>
              <textarea class="form-control" rows="5" id="iptQuestion"></textarea>
              <div class="mt-2 text-end">
                <button type="button" class="btn btn-primary" id="btnInput">입력</button>
              </div>
            </div>

            <div class="col-12" style="display: none">
              <label for="#" class="form-label">컨텍스트</label>
              <textarea class="form-control" rows="3" id="iptContext"></textarea>
            </div>

            <div class="col-12" style="display: none">
              <label for="#" class="form-label">콘솔 로그</label>
              <textarea class="form-control" rows="3" id="iptConsole"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
