<!DOCTYPE html>
<html data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Insert title here</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="../css/common.css" rel="stylesheet" />
    <link href="../css/highlight.min.css" rel="stylesheet" />
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/color-modes.js"></script>
  </head>
  <body>
    <div class="contents-wrap">
      <div class="tit-wrap">
        <h2 class="tit01">프로그램 코드 생성</h2>
      </div>

      <div class="row">
        <div class="col-8">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="fs-5 mb-0">질문이력</h3>
            <div class="col-4">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="검색어" />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="table-wrap mt-2" style="max-height: 133px">
            <table class="table table-bordered table-sm">
              <thead class="table-secondary">
                <tr class="text-center">
                  <th>대상인덱스</th>
                  <th>타겟경로</th>
                  <th>처리유형</th>
                  <th>처리여부</th>
                  <th>처리결과</th>
                  <th>실행</th>
                </tr>
              </thead>
              <tbody>
                <tr class="align-middle">
                  <td>대상인덱스</td>
                  <td>타겟경로</td>
                  <td>처리유형</td>
                  <td>처리여부</td>
                  <td>처리결과</td>
                  <td>실행</td>
                </tr>
                <tr class="align-middle">
                  <td>대상인덱스</td>
                  <td>타겟경로</td>
                  <td>처리유형</td>
                  <td>처리여부</td>
                  <td>처리결과</td>
                  <td>실행</td>
                </tr>
                <tr class="align-middle">
                  <td>대상인덱스</td>
                  <td>타겟경로</td>
                  <td>처리유형</td>
                  <td>처리여부</td>
                  <td>처리결과</td>
                  <td>실행</td>
                </tr>
              </tbody>
            </table>
          </div>

          <h3 class="fs-5 mt-3">질문이력</h3>
          <textarea class="form-control" rows="5" placeholder="질문입력"></textarea>

          <h3 class="fs-5 mt-3">생성결과</h3>
          <pre>
					<code class="language-css hljs">
						어쩌구저쩌구
					</code>
				</pre>
        </div>
        <div class="col-4">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="fs-5">벡터DB</h3>
            <div class="flex-shrink-0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="검색어" />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="table-wrap mt-2" style="max-height: 133px">
            <table class="table table-bordered table-sm table-fixed">
              <tbody>
                <tr class="align-middle">
                  <td class="text-center" style="width: 40px">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">
                    public ArrayList Mappublic ArrayList Mappublic ArrayList Mappublic ArrayList Map
                  </td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <h3 class="fs-5">관련소스</h3>
            <div class="flex-shrink-0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="검색어" />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="table-wrap mt-2" style="max-height: 133px">
            <table class="table table-bordered table-sm table-fixed">
              <tbody>
                <tr class="align-middle">
                  <td class="text-center" style="width: 40px">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">
                    public ArrayList Mappublic ArrayList Mappublic ArrayList Mappublic ArrayList Map
                  </td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <h3 class="fs-5">테이블</h3>
            <div class="flex-shrink-0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="검색어" />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="table-wrap mt-2" style="max-height: 133px">
            <table class="table table-bordered table-sm table-fixed">
              <tbody>
                <tr class="align-middle">
                  <td class="text-center" style="width: 40px">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">
                    public ArrayList Mappublic ArrayList Mappublic ArrayList Mappublic ArrayList Map
                  </td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <h3 class="fs-5">메타용어</h3>
            <div class="flex-shrink-0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="검색어" />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="table-wrap mt-2" style="max-height: 133px">
            <table class="table table-bordered table-sm table-fixed">
              <tbody>
                <tr class="align-middle">
                  <td class="text-center" style="width: 40px">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">
                    public ArrayList Mappublic ArrayList Mappublic ArrayList Mappublic ArrayList Map
                  </td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
                <tr class="align-middle">
                  <td class="text-center">
                    <div>
                      <input class="form-check-input" type="checkbox" value="" />
                    </div>
                  </td>
                  <td class="text-truncate">public ArrayList Map</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
