{% extends 'view/common/frame.html' %} {% block title %}용어 변환{% endblock %} {% block content %}
<script>
  $(document).ready(function () {
    common.getRequest("/user/api/history", { type_cd: "1" }, function (data) {
      let html = "";
      data.response.forEach((item, index) => {
        html += `<li class="list-group-item pointer">${item.title}</li>`;
      });
      $("#chatHistory").html(html);
    });

    //입력버튼 클릭이벤트 핸들러
    $("#btnInput").on("click", function () {
      const question = $("#iptQuestion").val();
      if (!question) return;

      $("#iptAnswer").text("");
      $("#iptQuestion").text("");

      const param = {
        indexname: "",
        current_code: "",
        category: "",
        question: question,
        context: "",
        sql_request: "",
      };

      common.postStreamRequest(
        "/codeassist/api/autocode",
        // "/codeassist/api/stream",
        param,
        function (e) {
          const chunk = e.currentTarget.response;
          console.log(chunk);

          $("#iptAnswer").text(chunk); // 모든 데이터 표시
        },
        function (data) {
          console.log("success");
        },
        function (data) {
          console.log("fail");
        }
      );
    });
  });
</script>

<div class="contents-wrap">
  <div class="tit-wrap">
    <h2 class="tit01">프로그램 코드 생성</h2>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="form-wrap">
        <div class="row">
          <div class="col-12">
            <label for="#" class="form-label">컨텍스트</label>
            <textarea class="form-control" rows="5" id="iptContext" disabled></textarea>
          </div>
          <div class="col-12 mt-3">
            <span class="form-label d-inline-block" id="iptAnswer">답변결과</span>
            <div></div>
          </div>
          <div class="col-12 mt-3">
            <label for="#" class="form-label">파일첨부</label>
            <input type="file" class="form-control" />
          </div>
          <div class="col-12 mt-3">
            <label for="#" class="form-label">질문 입력</label>
            <textarea class="form-control" rows="5" id="iptQuestion"></textarea>
            <div class="mt-2 text-end">
              <button type="button" class="btn btn-primary" id="btnInput">입력</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <ul class="list-group" id="chatHistory"></ul>
    </div>
  </div>
</div>

{% endblock %}
