	{% extends 'view/common/frame.html' %} {% block title %}용어 변환{% endblock %} {% block content %}
	<div class="contents-wrap">
		<div class="tit-wrap">
			<h2 class="tit01">용어변환</h2>
		</div>
		
		<div class="form-wrap">
			<div class="row">
				<div class="col">
					<label for="#" class="form-label">항목 입력</label>
					<textarea class="form-control" rows="5"></textarea>
				</div>
			</div>
		</div>
		<div class="row mt-2 btn-wrap">
			<div class="d-flex justify-content-end">
				<button type="button" class="btn btn-primary">변환</button>
			</div>
		</div>
		
		<div class="row mt-4">
			<div class="col">
				<table class="table table-bordered table-sm">
				<thead class="table-secondary">
					<tr>
						<th class="text-center">Camel Case</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="d-flex">
								<span class="text-break col">userName</span> 
								<button type="button" class="btn btn-sm btn-secondary align-self-start"><i class="bi bi-clipboard-check"></i></button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="d-flex">
								<span class="text-break  col">userName</span> 
								<button type="button" class="btn btn-sm btn-secondary align-self-start"><i class="bi bi-clipboard-check"></i></button>
							</div>
						</td>
					</tr>
				</tbody>
				</table>
			</div>
			<div class="col">
				<table class="table table-bordered table-sm">
				<thead class="table-secondary">
					<tr>
						<th class="text-center">Snake Case</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="d-flex">
								<span class="text-break col">user_name</span> 
								<button type="button" class="btn btn-sm btn-secondary align-self-start"><i class="bi bi-clipboard-check"></i></button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="d-flex">
								<span class="text-break col">total_price</span> 
								<button type="button" class="btn btn-sm btn-secondary align-self-start"><i class="bi bi-clipboard-check"></i></button>
							</div>
						</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>

	{% endblock %}
