{% extends 'view/common/frame.html' %} {% block title %}용어 변환{% endblock %} {% block content %}
<script>
  $(document).ready(function () {
    //변환버튼 클릭
    $("#convBtn").on("click", function () {
      const term = $("#iptTerm").val();

      if (!term) return;

      common.postRequest("/termsconversion/api/conv", { question: term }, function (data) {
        $("#korWord").empty();
        $("#camelCase").empty();
        $("#snakeCase").empty();

        if ('response' in data) {
          $("#iptResponse").val(data.response);
        }


        if ('context' in data) {
          const context = data.context;
          const keyArr = Object.keys(data.context);

          keyArr.forEach((item, index) => {
            camel = context[item]['CAMEL'];
            snake = context[item]['SNAKE'];

            const korWord = `
                <tr>
                  <td>
                  <div class="d-flex">
                    <span class="text-break col">${item}</span>
                    <span class="ms-2 copied-text" style="display: none; color: green;">Copied!</span>
                    <button type="button" class="btn btn-sm btn-secondary align-self-start">
                      <i class="bi bi-copy"></i>
                    </button>
                  </div>
                  </td>
                </tr> `;
            $("#korWord").append(korWord);

            const camelHtml = `
                <tr>
                  <td>
                  <div class="d-flex">
                    <span class="text-break col">${camel}</span>
                    <span class="ms-2 copied-text" style="display: none; color: green;">Copied!</span>
                    <button type="button" class="btn btn-sm btn-secondary align-self-start">
                      <i class="bi bi-copy"></i>
                    </button>
                  </div>
                  </td>
                </tr> `;
            $("#camelCase").append(camelHtml);

            const snamelHtml = `
                <tr>
                  <td>
                  <div class="d-flex">
                    <span class="text-break col">${snake}</span>
                    <span class="ms-2 copied-text" style="display: none; color: green;">Copied!</span>
                    <button type="button" class="btn btn-sm btn-secondary align-self-start">
                      <i class="bi bi-copy"></i>
                    </button>
                  </div>
                  </td>
                </tr> `;

            $("#snakeCase").append(snamelHtml);
            
          });
        }

        /*
        data.response.forEach((item, index) => {
          // const title = `<h5>${index + 1}. ${item.title}</h5>`;

          const parts = item.split("=");
          if (parts.length === 2) {
            const functionPart = parts[1].trim(); // "USER_NM(userNm)"
            const [camel, snake] = functionPart.split(/[()]/);

            const camelHtml = `
                <tr>
                  <td>
                  <div class="d-flex">
                    <span class="text-break col">${camel}</span>
                    <span class="ms-2 copied-text" style="display: none; color: green;">Copied!</span>
                    <button type="button" class="btn btn-sm btn-secondary align-self-start">
                      <i class="bi bi-copy"></i>
                    </button>
                  </div>
                  </td>
                </tr> `;
            $("#camelCase").append(camelHtml);

            const snamelHtml = `
                <tr>
                  <td>
                  <div class="d-flex">
                    <span class="text-break col">${snake}</span>
                    <span class="ms-2 copied-text" style="display: none; color: green;">Copied!</span>
                    <button type="button" class="btn btn-sm btn-secondary align-self-start">
                      <i class="bi bi-copy"></i>
                    </button>
                  </div>
                  </td>
                </tr> `;

            $("#snakeCase").append(snamelHtml);
          }
        });
        */

        //복사버튼 클릭
        $("button.btn-sm").on("click", function () {
          const target = $(this);
          const text = $(this).parent().find("span.text-break").text();
          navigator.clipboard.writeText(text).then(
            function () {
              let icon = target.find("i"); // 버튼 내부 아이콘 찾기
              if (icon.hasClass("bi-copy")) {
                icon.removeClass("bi-copy").addClass("bi-check"); // 아이콘 변경
              }
              console.log("Copying to clipboard was successful!");
            },
            function (err) {
              console.error("Could not copy text: ", err);
            }
          );
        });
      });
    });

    // Enter 키 입력시 질문 전송
    $("#iptTerm").keydown(function (event) {
      if (event.key === "Enter" && !event.shiftKey) {
        event.preventDefault();
        $("#convBtn").click();
      }
    });
  });
</script>
<div class="contents-wrap">
  <div class="tit-wrap">
    <h2 class="tit01">용어변환</h2>
  </div>

  <div class="form-wrap">
    <div class="row">
      <div class="col">
        <label for="#" class="form-label">항목 입력</label>
        <textarea class="form-control" rows="5" id="iptTerm"></textarea>
      </div>
    </div>
  </div>
  <div class="row mt-2 btn-wrap">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary" id="convBtn">변환</button>
    </div>
  </div>
  <div class="form-wrap">
    <div class="row">
      <div class="col">
        <label for="#" class="form-label">결과</label>
        <textarea class="form-control" rows="5" id="iptResponse" disabled></textarea>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <table class="table table-bordered table-sm">
        <thead class="table-secondary">
          <tr>
            <th class="text-center">한글 용어</th>
          </tr>
        </thead>
        <tbody id="korWord">
          <!-- <tr>
            <td>
              <div class="d-flex">
                <span class="text-break col">userName</span>
                <button type="button" class="btn btn-sm btn-secondary align-self-start">
                  <i class="bi bi-clipboard-check"></i>
                </button>
              </div>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-bordered table-sm">
        <thead class="table-secondary">
          <tr>
            <th class="text-center">Camel Case</th>
          </tr>
        </thead>
        <tbody id="camelCase">
          <!-- <tr>
            <td>
              <div class="d-flex">
                <span class="text-break col">userName</span>
                <button type="button" class="btn btn-sm btn-secondary align-self-start">
                  <i class="bi bi-clipboard-check"></i>
                </button>
              </div>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-bordered table-sm">
        <thead class="table-secondary">
          <tr>
            <th class="text-center">Snake Case</th>
          </tr>
        </thead>
        <tbody id="snakeCase">
          <!-- <tr>
            <td>
              <div class="d-flex">
                <span class="text-break col">total_price</span>
                <button type="button" class="btn btn-sm btn-secondary align-self-start">
                  <i class="bi bi-clipboard-check"></i>
                </button>
              </div>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
