{% extends 'view/common/frame.html' %} {% block title %}용어 변환{% endblock %} {% block content %}
<style>
  .delete-btn {
    position: absolute;
    top: 50%;
    right: 10px; /* 우측에 위치 */
    transform: translateY(-50%); /* 수직 중앙 정렬 */
    cursor: pointer;
    display: none;
    color: #dc3545; /* 빨간색 아이콘 */
  }
</style>
<script>
  $(document).ready(function () {
    getChatHistory("2");

    //입력버튼클릭 이벤트 핸들러
    $("#btnInput").on("click", function () {
      const question = $("#iptQuestion").val();
      const sql_request = $("#iptContext").val();

      if (!question) return;
      $("#iptAnswer").text("■");

      const param = {
        indexname: "",
        current_code: "",
        category: "",
        question: question,
        context: "",
        sql_request: sql_request,
      };

      //SQL생성 서비스 호출
      common.postStreamRequest(
        "/codeassist/api/makesql",
        param,
        function (e) {
          const chunk = e.currentTarget.response;
          $("#iptAnswer").html(marked.parse(chunk + "■"));
        },
        function (data) {
          console.log("success");
          const lastIndex = $("#iptAnswer").html().lastIndexOf("■");

          $("#iptAnswer").html(
            $("#iptAnswer").html().slice(0, lastIndex) + $("#iptAnswer").html().slice(lastIndex).replace("■", "")
          );

          //이력생성
          const param = {
            title: $("#iptQuestion").val(),
            type_code: "2",
            data: JSON.stringify([
              { question: $("#iptQuestion").val(), context: $("#iptContext").val(), answer: $("#iptAnswer").html() },
            ]),
          };
          common.postRequest("/user/api/history", param, function (data) {
            //highlight적용
            $("#iptAnswer pre code").each(function (i, block) {
              hljs.highlightElement(block);
            });

            getChatHistory("2"); //이력 재조회
          });
        }
      );
    });
  });
</script>

<div class="contents-wrap">
  <div class="tit-wrap">
    <h2 class="tit01">SQL 생성</h2>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="form-wrap">
        <div class="row">
          <div class="col-12">
            <label for="#" class="form-label">사용된 테이블 및 참고 SQL</label>
            <textarea class="form-control" rows="5" id="iptContext"></textarea>
          </div>
          <div class="col-12 mt-3">
            <span class="form-label d-inline-block">답변결과</span>
            <!-- <pre id="iptAnswer"></pre> -->
            <div id="iptAnswer" class="markdown-body"></div>
          </div>
          <div class="col-12 mt-3">
            <label for="#" class="form-label">질문 입력</label>
            <textarea class="form-control" rows="5" id="iptQuestion"></textarea>
            <div class="mt-2 text-end">
              <button type="button" class="btn btn-primary" id="btnInput">입력</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'view/common/chathistory.html' %}
  </div>
</div>

{% endblock %}
