{% extends 'view/common/frame.html' %} {% block title %}용어 변환{% endblock %} {% block content %}

<script>
  $(document).ready(function () {
    $("#btnInput").on("click", function () {
      const question = $("#iptQuestion").val();
      const sql_request = $("#iptContext").val();

      $.ajax({
        url: "/codeassist/api/makesql",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({ question: question, sql_request: sql_request }),
        success: function (data) {
          //이력 재 조회
          //
          // $.ajax({
          // 	url: "/codeassist/api/makesql",
          // 	type: "POST",
          // 	contentType: "application/json",
          // 	data: JSON.stringify({ question: question, sql_request: sql_request }),
          // 	success: function (data) {
          // 	},
          // });
        },
      });
    });
  });
</script>

<div class="contents-wrap">
  <div class="tit-wrap">
    <h2 class="tit01">SQL 생성</h2>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="form-wrap">
        <div class="row">
          <div class="col-12">
            <label for="#" class="form-label">사용된 테이블 및 참고 SQL</label>
            <textarea class="form-control" rows="5" id="iptContext"></textarea>
          </div>
          <div class="col-12 mt-3">
            <span class="form-label d-inline-block">답변결과</span>
            <div id="iptAnswer"></div>
          </div>
          <div class="col-12 mt-3">
            <label for="#" class="form-label">질문 입력</label>
            <textarea class="form-control" rows="5" id="iptQuestion"></textarea>
            <div class="mt-2 text-end">
              <button type="button" class="btn btn-primary" id="btnInput">입력</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item">이력1</li>
        <li class="list-group-item">이력2</li>
        <li class="list-group-item">이력3</li>
        <li class="list-group-item">이력3</li>
        <li class="list-group-item">이력3</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
